*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            
}

html{
    
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden; // hide vertical

}


body{
    font-family: poppins;
     overflow-x: hidden; // hide vertical
     outline:none; 
}

ul,nav{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}



footer nav{
    background-image: $color-main;
    width: 100%
}

footer nav ul{
    
     @include flex;
 
   
     width: 60%;
     margin: 0 auto;
     height: 100px;
    
     justify-content: space-between;
    
     text-align: center;
     align-items: center;
     
     color: #fff;
    
 }

 footer nav ul li{
     
    
    align-content: center;
 }

section h3{
    font-size: 190%;
    text-align: center;
    font-family: $font-family;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

section + section h3,
.tabs li   {
    background: $color-main;
   
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}





section ul li i{
    font-size: 100px;
    background: $color-main;
   
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}









