$font-family: 'Varela Round', sans-serif;
$color-white: #fff;
$color-black: rgb(8, 8, 8);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
// $color-violet: rgba($color: #9b0ebe, $alpha: 1.0);

$color-main:  linear-gradient(to right top, #001a41, #002570, #002da0, #0031d0, #0d2dff);

//rgba($color: #191df0, $alpha: 1.0);


$gradient1: linear-gradient(90deg, rgba(2,0,36,1) 80%, rgba(9,9,121,1) 95%, rgb(35, 47, 49) 100%);
